h1{margin-top:0}

@media (max-width: 768px) {
  h1{font-size:24px}
}

.navbar-brand {
    float: left;
    padding: 0px;
    font-size: 18px;
    line-height: 20px;
    height: 20px;
}

.cabecalho {
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
}